@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Young+Serif&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* font-family: "Young Serif", serif; */
/* font-family: "Outfit", sans-serif; */

:root {
    --blue: hsl(14, 45%, 36%);
    --white: hsl(332, 51%, 32%);
    --test: hsl(0, 0%, 100%);
    --sami: hsl(330, 100%, 98%);
    --vvv: hsl(30, 54%, 90%);
    --xxx: hsl(30, 18%, 87%);
    --aaa: hsl(30, 10%, 34%);

    --paddSami: 10px;
}



.main {
    display: grid;
    grid-template-rows: repeat(auto, auto-fill);
    width: 650px;
    justify-content: center;
    background-color: var(--test);
    border-radius: 15px;
    padding: calc(var(--paddSami) + 20px);
    gap: 10px;


}

body {
    font-size: 16px;

    font-family: "Outfit", sans-serif;
    background-color: hsl(30, 54%, 90%);

    h2 {
        font-family: "Young Serif", serif;
        color: var(--blue);

    }

    li::marker {
        color: var(--blue);
    }

    h1 {
        font-family: "Young Serif", serif;
        font-weight: 400;
    }
}

div {
    border-radius: 15px;
}

img {
    width: 100%;
    border-radius: 15px;
}

span {
    font-weight: 600;
}


.prtime {
    background-color: var(--sami);
    padding-left: 20px;
    margin-top: 20px;

    li::marker {
        color: var(--white);
        ;
    }

    h3 {
        color: var(--white);
    }
}

.nutri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;

}

.amount {
    font-weight: 700;
    color: var(--blue);
}


@media (max-width:710px) {

    .main {
        width: 95vw;
        border-radius: 0px;
        padding: 0px;

    }



    body {
        background-color: white;
        line-height: 34px;

    }

    img {
        position: relative;
        top: -10px;
        left: -10px;
        width: 110%;
        border-radius: 0px;

    }
}